nav {
  background-color: #33333300; /* Background color- Transparent */
  color: #3a3a3a; /* Text color */
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Spacing between items */
}

a {
  text-decoration: none; /* Remove underlines from links */
  color: #363636; /* Link text color */
  font-family: 'Courier New', Courier, monospace;
}

.name {
  margin-right: auto;    /*pushes the name to the left*/
  font-weight:bold;
  font-size: 20px;
}

h4 {
  font-family: Nunito, sans-serif;
}

h3 {
  font-family: Nunito, sans-serif;
}